<div class="modal fade" id="changeFinancesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changeFinancesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="changeFinancesModalLabel">Изменение финансов</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-center">
                <form th:action="@{/changeFinances}" method="post" id="changeFinancesForm">
                    <label for="amount" class="form-label mt-2">Введите размер суммы в BYN</label>
                    <input class="form-control" type="number" step="0.01" name="amount" id="amount" required="required"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="changeFinancesForm" class="btn btn-outline-primary">Прибавить(Вычесть) введенную сумму денег к(из) финансам(ов)</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>