<div class="modal fade" id="emailChangeModal" tabindex="-1" aria-labelledby="emailChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="emailChangeModalLabel">Измение email</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/changeEmail}" method="post" id="changeEmailForm">
                    <label for="newEmail" class="w-auto mx-auto">Введите Ваш новый email</label>
                    <input type="email" id="newEmail" name="newEmail" maxlength="50" required="required" class="form-control w-auto mx-auto" th:value="${#authentication.principal.getEmail()}"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="changeEmailForm" class="btn btn-outline-primary">Сохранить изменения</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>