<div class="modal fade" id="forgotPasswordModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="forgotPasswordModalLabel">Восстановление пароля</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/sendCodeToEmail}" method="get" id="sendCodeToEmailForm">
                    <label for="email" class="w-auto mx-auto" >Введите почту, существую для получения кода для восстановления</label>
                    <input type="email" id="email"  maxlength="50" required="required" name="email" class="form-control w-auto mx-auto"/>
                    <button type="submit" form="sendCodeToEmailForm" class="btn btn-outline-secondary btn-sm mt-5">Отправить код для восстановления пароля</button>
                </form>
                <form th:action="@{/restorePassword}" method="post" id="restorePasswordForm">
                    <label for="code" class="w-auto mx-auto" >Введите код подтверждения для смены пароля</label>
                    <input type="number" id="code" minlength="6" maxlength="6" disabled="disabled" required="required" name="code" class="form-control w-auto mx-auto"/>
                    <label for="newPassword" class="w-auto mx-auto" >Введите Ваш новый пароль</label>
                    <input type="password" id="newPassword" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Должен состоять как минимум из 8 символов' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" minlength="8" maxlength="20" required="required" name="newPassword" class="form-control w-auto mx-auto"/>
                    <label for="newPasswordRepeated" class="w-auto mx-auto">Повторите Ваш новый пароль</label>
                    <input type="password" id="newPasswordRepeated" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Пароль должен совпадать с паролем, введённым выше' : '');" minlength="8" maxlength="20" required="required" name="newPasswordRepeated" class="form-control w-auto mx-auto"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="restorePasswordForm" class="btn btn-outline-primary">Сохранить новый пароль</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>