<div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="passwordChangeModalLabel">Измение пароля</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/changePassword}" method="post" id="changePasswordForm">
                    <label for="oldPassword" class="w-auto mx-auto">Введите Ваш старый пароль</label>
                    <input type="password" id="oldPassword" minlength="8" maxlength="20" required="required"  name="oldPassword" class="form-control w-auto mx-auto"/>
                    <label for="newPassword" class="w-auto mx-auto" >Введите Ваш новый пароль</label>
                    <input type="password" id="newPassword" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Должен состоять как минимум из 8 символов' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" minlength="8" maxlength="20" required="required" name="newPassword" class="form-control w-auto mx-auto"/>
                    <label for="newPasswordRepeated" class="w-auto mx-auto">Повторите Ваш новый пароль</label>
                    <input type="password" id="newPasswordRepeated" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Пароль должен совпадать с паролем, введённым выше' : '');" minlength="8" maxlength="20" required="required" name="newPasswordRepeated" class="form-control w-auto mx-auto"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="changePasswordForm" class="btn btn-outline-primary">Сохранить изменения</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>