<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head.html :: head"></th:block>
</head>
<body>
<div class="row px-4 pt-4 my-4 text-center border-bottom">
    <p class="display-6 fw-bold">Подтвердите регистрацию, пройдя по ссылке в письме на вашей почте.</p>
    <div class="overflow-hidden" style="max-height: 42vh;">
        <div class="container px-5">
            <img th:src="@{pictures/confirmRegistrationImg.png}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Подтвердите регистрацию" width="1000" height="1000" loading="lazy">
        </div>
    </div>
</div>
<div class="row">
    <div align="center">
        <a th:href="@{/}">Вернуться...</a>
        <br/>
    </div>
</div>

<footer th:insert="fragments/footer.html" :: footer/>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>