<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head.html :: head"></th:block>
</head>
</head>
<body style="background-color: lightblue; background-repeat: no-repeat; background-size: cover">
<header th:insert="fragments/header.html :: header"/>
<div th:insert="sidebars/employeeSidebar.html" :: div/>
<br/>

<div id="productData" style="display: none" th:text="${allProducts}"></div>
<div id="productCategories" style="display: none" th:text="${productCategories}"></div>
<datalist id="categoriesList" style="display: none"></datalist>
<div id="csrf" th:text="${_csrf.getToken()}" style="display: none"></div>
<div id="error" style="display: none" th:text="${error}"></div>
<div id="context" style="display: none" th:text="${#request.getContextPath()}"></div>
<div class="row mx-auto justify-content-center">
    <div class="col-4 mx-auto">
        <button type="button" class="btn btn-warning col-md-1 w-auto mx-auto" data-bs-toggle="modal" data-bs-target="#searchEmployeeModal">
            <i class="fa fa-search"></i>|
            Фильтрация и поиск
        </button>
    </div>
    <div class="col-4 mx-auto">
        <form th:action="@{/sortAllProducts}" method="post" id="sortForm" class="form col-md-1 w-auto">
            <select class="form-select" id="sortFormSelect" name="sortFormSelect">
                <option selected="selected" style="color: darkgray" disabled="disabled" value="noneSelected">Выберите способ сортировки...</option>
                <option style="color: darkorange" value="byPriceAsc">По возрастанию цены</option>
                <option style="color: darkorange" value="byPriceDesc">По убыванию цены</option>
                <option style="color: darkorange" value="byName">По названию</option>
                <option style="color: darkorange" value="byCategory">По категории</option>
                <option style="color: darkorange" value="byAvailabilityDesc">Сначала доступные товары</option>
                <option style="color: darkorange" value="byAvailabilityAsc">Сначала недоступные товары</option>
            </select>
        </form>
    </div>
    <div class="col-4 mx-auto">
        <button class="btn btn-outline-warning col-md-1 w-auto mx-auto" type="submit" form="sortForm">
            <i class="fa fa-sort"></i>| Сортировка</button>
    </div>
</div>
<div class="row mt-2 mx-auto">
    <div class="container w-auto">
        <table class="table table-secondary table-bordered table-hover" style="font-size: small;border-radius: 6px;overflow: hidden" >
            <tbody id="productTable">
            </tbody>
        </table>
    </div>
</div>
<div class="row mx-auto mt-5 justify-content-center">
    <div class="col-4 w-auto">
        <button class="btn-warning" id="prev" type="button" onclick="prevPage()">Назад</button>
    </div>
    <div class="col-4 w-auto" style="color: darkorange">
        <span id="page"></span>
    </div>
    <div class="col-4 w-auto">
        <button class="btn-warning" id="next" type="button" onclick="nextPage()">Далее</button>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <button class="btn btn-outline-primary mx-auto w-auto" data-bs-toggle="modal" data-bs-target="#addProductModal">Добавить новый товар на склад</button>
</div>
<div th:insert="modals/searchAndFilterEmployeeModal.html" :: div/>
<div th:insert="modals/addProductModal.html" :: div/>
<footer th:insert="fragments/footer.html" :: footer/>
</body>
<script type="text/javascript" th:src="@{/js/employee_main_page_handler.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>